# Ignore everything...
*

# ...except directories
!*/


# ...and interesting files

# Java source
!*.java

!*.jsp
!*.css

# Databasemodel
!*.mwb
!*.sql

# Web ressources
!*.png

!.txt
!.gitignore
build/classes/.gitignore
